<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Hospital Admin Panel</div>
                    <a class="nav-link" asp-controller="Main" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Homepage
                    </a>
                    <a class="nav-link" asp-controller="Appointments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Appointments
                    </a>
                    <a class="nav-link" asp-controller="Contacts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Contacts
                    </a>
                    <a class="nav-link" asp-controller="DepartmentPosts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        DepartmentPosts
                    </a>
                    <a class="nav-link" asp-controller="Departments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Departments
                    </a>
                    <a class="nav-link" asp-controller="Doctors" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Doctors
                    </a>
                    <a class="nav-link" asp-controller="Pages" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Pages
                    </a>

                    <a class="nav-link" asp-controller="Patients" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Patients
                    </a>
                    <a class="nav-link" asp-controller="PostComments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        PostComments
                    </a>

                    <a class="nav-link" asp-controller="Posts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Posts
                    </a>
                    <a class="nav-link" asp-controller="Roles" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Roles
                    </a>
                    <a class="nav-link" asp-controller="Settings" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Settings
                    </a>
                    <a class="nav-link" asp-controller="Users" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Users
                    </a>


                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Welcome</div>
                    Logged as : Hospital Admin
                </div>
        </nav>
    </div>
    @* <div class="sb-sidenav-menu-heading">Interface</div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
    Layouts
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="layout-static.html">Static Navigation</a>
    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
    </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    Pages
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
    Authentication
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
    <nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="login.html">Login</a>
    <a class="nav-link" href="register.html">Register</a>
    <a class="nav-link" href="password.html">Forgot Password</a>
    </nav>
    </div>
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
    Error
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
    <nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="401.html">401 Page</a>
    <a class="nav-link" href="404.html">404 Page</a>
    <a class="nav-link" href="500.html">500 Page</a>
    </nav>
    </div>
    </nav>
    </div>
    <div class="sb-sidenav-menu-heading">Addons</div>
    <a class="nav-link" href="charts.html">
    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
    Charts
    </a>
    <a class="nav-link" href="tables.html">
    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
    Tables
    </a>
    </div>*@
