@model PostComment

@{
    ViewData["Title"] = "Edit Post Comment";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="PostComments" asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="UserId" class="form-label">User</label>
                    <select id="UserId" name="UserId" class="form-select" asp-items="ViewBag.UserId"></select>
                </div>

                <div class="mb-3">
                    <label for="PostId" class="form-label">Post</label>
                    <select id="PostId" name="PostId" class="form-select" asp-items="ViewBag.PostId"></select>
                </div>

                <div class="mb-3">
                    <label for="Comment" class="form-label">Comment</label>
                    <textarea type="text" id="Comment" name="Comment" class="form-control" asp-for="Comment" rows="4"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" id="IsActive" name="IsActive" class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label" for="IsActive">Is Active</label>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a asp-controller="PostComments" asp-action="Index" class="btn btn-outline-dark">Back To List</a>
                </div>
            </form>
        </div>
    </div>
</div>
