

@* İşbirliği halinde olunan markalar *@

<section class="section clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Partners who support us</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                </div>
            </div>
        </div>
    </div>


    @* İşbirliği yapılan  markalar, ViewComponents olarak listelenecektir. *@

    <div class="container">
        <div class="row clients-logo slick-initialized slick-slider">
            <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 4940px; transform: translate3d(-1900px, 0px, 0px);">
                    <div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-6" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/1.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/2.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-active" data-slick-index="5" aria-hidden="false" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-current slick-active" data-slick-index="6" aria-hidden="false" tabindex="0" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-active" data-slick-index="7" aria-hidden="false" tabindex="0" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-active" data-slick-index="8" aria-hidden="false" tabindex="0" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-active" data-slick-index="9" aria-hidden="false" tabindex="0" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/1.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/2.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="12" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="13" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="14" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="15" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/3.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/4.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/5.png" alt="" class="img-fluid">
                        </div>
                    </div><div class="col-lg-2 slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" tabindex="-1" style="width: 190px;">
                        <div class="client-thumb">
                            <img src="~/hospitaltemplate/images/about/6.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@**@