
@model IEnumerable<Department>

@{
    foreach (Department department in Model.OrderBy(x => x.Name))
    {
        <li><a class="dropdown-item" asp-controller="Department" asp-action="Detail" asp-route-id="@department.Id">@department.Name</a></li>
    }
}